- page_title 'My Applications'

- for application in current_objects do
  = link_to application, my_application_path(application)
  %br/
      
= link_to 'Create new Application', new_my_application_path